<footer class="page-footer font-small bg-dark" style="overflow: hidden;">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
		<div class="row"><p>  </p></div>
      <!-- Grid row -->
      <div class="row mt-5">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4 d-none d-md-block">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Mailing Address</h6>
          <hr class="red accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p class="text-white">Plausible Street<br><br>
			 1234 Sample Avenue <br><br>
			 Earth, Solar System<br>
			 </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-3 col-xl-3 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="red accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

          <p class="text-white">
	        Admin
          </p>
          <p class="text-white">
            admin @ realizeinteractive.com
          </p>
          <!-- <p class="text-white">
            Medium: <br>
            <a href="https://medium.com/@bastianreality" target="_blank"> link </a>
          </p> -->


        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 d-none d-md-block">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="red accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="/index">Home</a>
          </p>
          <!-- <p>
            <a href="/about">About</a>
          </p>
          <p>
            <a href="/tutorials">Tutorials</a>
          </p> -->
          <p>
            <a href="/contact">Contact</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
      
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center mt-2 py-3">© 2024 Copyright:
      <a href="/index">Realize Interactive LLC</a>

    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
